@height : 8vh;
.learningmeme__item {
    text-align: center;
    height: @height;
}

.learningmeme__text {
    padding-top: @height*0.3;
    line-height: @height*0.5;
    font-size: @height*0.5;
    width: 100%;
}

.learningmeme {
    height: 89vh;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 4fr 1fr;
    grid-template-areas: "... input ..." "... question ..." "... sentence ..." "... image ..." "... translation ...";
    &__input {
        padding-top: @height*0.1;
        &--container {
            .learningmeme__item();
            grid-area: input;
        }
        input {
            height: @height*0.7;
            font-size: @height*0.5;
            text-align: center;
            width: 100%
        }
    }
    &__question {
        .learningmeme__text();
        color: var(--dark-second);
        letter-spacing: 0.1em;
        &--container {
            .learningmeme__item();
            grid-area: question;
        }
    }
    &__sentence {
        .learningmeme__text();
        color: var(--dark-seventh);
        &--container {
            .learningmeme__item();
            grid-area: sentence;
        }
    }
    &__image {
        &--container {
            grid-area: image;
            text-align: center;
            height: 7*@height;
            width: 100%;
        }
        &--item {
            width: 100%;
            height: 100%;
        }
    }
    &__translation {
        .learningmeme__text();
        color: var(--darkblue-seventh);
        &--container {
            .learningmeme__item();
            grid-area: translation;
        }
    }
    span.fromWord {
        color: var(--blue-sixth)
    }
    span.toWord {
        margin-left: 1vw;
        color: var(--pink)
    }
}