@import "../../node_modules/colors/_colors.css";
@cell_height: 25.7vh;
@small_border: 0.2vh;
@large_border: 0.5vh;
@question_height: @cell_height/3.15;

.chooseword__row {
    border: @large_border dashed var(--pink);
    height: @cell_height;
}


.chooseword__choice {
    line-height: @question_height;
    font-size: @question_height/1.5;
    border: @small_border dashed var(--blue);
}
.chooseword__section {
    height: @cell_height;    
    text-align: center;
    padding-top:(@cell_height*0.15)-2*@small_border;
    line-height: @cell_height*0.7;
    font-size: @cell_height*0.35;
    border: @small_border dashed var(--blue);
}

.chooseword {
    &--container {
        border: @large_border dashed var(--green);
        display: grid;
        height: 86vh;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "question" "solved" "translation";
    }
    &--grid__item {
        border-color: var(--pink);
    }
    &--question {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 100%;
        text-align: center;
        grid-template-areas: "... choicex ..." "... choicey ..." "... choicez ...";
        &__choicex {
            .chooseword__choice();
            grid-area: choicex;
            background: var(--light);
        }
        &__choicey {
            .chooseword__choice();
            grid-area: choicey;
            background: var(--light);
        }
        &__choicez {
            .chooseword__choice();
            grid-area: choicez;
            background: var(--light);
        }
        &__container {
            grid-area: question;
            .chooseword__row();
        }
    }
    &--translation {
        color: var(--darkblue-three);
        grid-area: translation;
        .chooseword__section();
    }
    &--solved {
        color: var(--dark-seventh);
        grid-area: solved;
        .chooseword__section();
    }
}