@import "../../node_modules/colors/_colors.css";
@import "./styles/navigation.less";

html{
  font-size: 16px;
  @media screen and (min-width: 900px) {
    font-size: 18px;
  }
    
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }

  overflow: hidden;  
  background-color: var(--navy-seventh);
}


.carrier{
  position:absolute;
  top: 89vh;
  width: 100%;
  border: 0.5vh solid var(--dark-second);
  height: 10vh;
  left: 0;
  display: grid;
  grid-column: repeat(9, 1fr);
  grid-template-areas: "x first afterfirst premiddle middle aftermiddle prelast last y";

  &__x{
    max-width: 10vw;
    grid-area: x;
  }

  &__logo{
  max-width: 10vw;  
  }

  &__y{
    grid-area: y;
  }

  &__first{
    grid-area: first;
  }

  &__premiddle{
    grid-area: premiddle;
    max-width: 10vw;
    padding-top: 0.3rem;
    line-height: 0.7rem;
    font-size: 0.7rem;
    text-align: center
  }

  &__aftermiddle{
    grid-area: aftermiddle;
    padding: 0.3rem;
    text-align: center
  }
}
