@import "../../node_modules/colors/_colors.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    @media screen and (min-width: 900px) {
        font-size: 18px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 20px;
    }
    overflow: hidden;
    background-color: var(--navy-seventh);
}

body {
    margin: 0;
}

.carrier__item {
    width: 8vw;
    height: 10vh;
}

.carrier {
    &__logo {
        max-width: 10vw;
    }
    div div {
        cursor: pointer;
    }
    position: absolute;
    top: 90vh;
    width: 100%; // outline: 0.5vh solid var(--navy-second);
    height: 10vh;
    left: 0;
    display: grid;
    grid-column: repeat(13, 1fr);
    grid-template-areas: "a b c first afterfirst premiddle middle aftermiddle prelast last x y z";
    &__a {
        .carrier__item();
        grid-area: a;
    }
    &__c {
        margin-top: 22%;
        .carrier__item();
        grid-area: c;
    }
    &__first {
        .carrier__item();
        margin-top: 1vh;
        font-size: 50%;
        text-align: center;
        grid-area: first;
    }
    &__afterfirst {
        margin-top: 20%;
        .carrier__item();
        grid-area: afterfirst;
    }
    &__premiddle {
        margin-top: 18%;
        .carrier__item();
        grid-area: premiddle;
    }
    &__middle {
        .carrier__item();
        margin-top: 21%;
        grid-area: middle;
    }
    &__aftermiddle {
        margin-top: 20%;
        .carrier__item();
        grid-area: aftermiddle;
    }
    &__y {
        .carrier__item();
        margin-top: 4.65vh;
        font-size: 5vh;
        line-height: 5vh;
        text-decoration: underline;
        text-decoration-color: var(--navy-fifth);
        color: var(--navy);
        grid-area: y;
    }
}